.footer__column-link {
  min-width: 119px;
  /*Позиционирование иконок соцсетей на одной линии с ссылками*/
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  transition: opacity 0.3s;
}

/*поведение ссылок в футере при наведении мыши*/
.footer__column-link:hover {
  opacity: 0.5;
}