.cards__description{
  /*Установил внутренние боковые отступы 3px, чтобы текст выглядел как в брифе.*/
  padding: 0 3px;
  margin: 16px 0 0;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}