.header__link{
  /*Ниже задал ссылке цвет текста по брифу*/
  color: #2f80ed;
  /*Ниже убрал подчеркивание для ссылки*/
  text-decoration: none;
  transition: opacity 0.3s;
}
/*поведение ссылки при наведении мыши*/
.header__link:hover{
  opacity: 0.5;  
}