/*секция kaufman*/

.kaufman {
  padding: 90px 0;
  position: relative;
  z-index: 1;
  background-color: #1f1f1f;
  /*Ниже прячем выступающую за блок часть синего треугольника*/
  overflow: hidden;
}