.header__subtitle {
  max-width: 388px;
  margin: 0;
  /*Ниже задается расположение подзаголовка в header*/
  position: absolute;
  bottom: 30px;
  left: 64px;
  /*Ниже настройки шрифта подзаголовка*/
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}