.footer{
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  /*Ниже размещаю по цетру флекс-элементы футера*/
  display: flex;
  justify-content: center;
  color: #fff;
  background-color:  #1f1f1f;
}