/*левая колонка*/
.two-columns__brief{
  max-width: 175px;
  margin: 0;
  /* Ниже настройки шрифта заголовка описания*/
  color: #2f80ed;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}